.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-header {
  text-align: right;
  margin-right: 2%;
  font-size: calc(10px + 2vmin);
}

.track {
  position: relative;
  display: inline-table;
  margin: 0px 30px;
}

.nowPlaying {
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.splitScreen {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.datePicker {
  margin-bottom: 20px;
}