.App {
  /* background-color: #282c34; */
  background-color: antiquewhite;
  min-height: 100vh;
  color: black;
}

.App-header {
  align-items: right;
  justify-content: right;
  text-align: right;
  font-size: calc(10px + 2vmin);
}

.track {
  position: relative;
  display: inline-table;
  margin: 0px 30px;
}

.nowPlaying {
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  
}

.splitScreen {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.leftPane {
  width: 90%;
  font-size: calc(10px + 2vmin);
}

.rightPane {
  width: 10%
}